html, body {
  margin: 0;
}
.map-container {
  display: flex;
  align-items: flex-start; /* aligns top edges */
  gap: 20px;               /* space between text and image */
 background-color: #efdac4;;
}

.map-text {
  max-width: 400px;        /* control text width */
}

.map-container img {
  width: 1200px;
  height: auto;
}
.map-container p {
  padding: 10px;
}



.outline-btn {
  background-color: #f8ebdd;; 
  color: #000000; /* Text color matches the border color */
  border: 2px solid #e39d05; /* The outline effect using border property */
  padding: 14px 28px; /* Space between text and border */
  font-size: 16px;
  cursor: pointer;
  border-radius: 5px; /* Optional: rounded corners */
  margin-left: 10px;
}

/* Hover effect */
.outline-btn:hover {
  background-color: #d2820a;
  color: white; /* Text color changes on hover for contrast */
}