.pd-container {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    width: 100vw;
    background-color: antiquewhite;
}
.pd-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    /* width: 100vh;
    height: 100vh; */
    box-sizing: border-box;
    padding: 20px;
}
 .marquee {
    display: flex;
    block-size: var(--marquee-item-height);
    max-inline-size: var(--marquee-max-width);
    overflow-x: hidden;
    position: relative;
    mask-image: linear-gradient(
      to right,
      hsl(0 0% 0% / 0),
      hsl(0 0% 0% / 1) 20%,
      hsl(0 0% 0% / 1) 80%,
      hsl(0 0% 0% / 0)
    );
    position: relative;
  }

  .marquee_item {
    inset-inline-start: var(--marquee-item-offset);
    animation: go linear var(--marquee-duration) var(--marquee-delay, 0s) infinite;
    transform: translateX(-50%);
  } 

  .marquee {
    overflow: hidden;
    width: 100%;
}

.marquee-track {
    display: flex;
    /* width: max-content; */
    animation: scroll 20s linear infinite;
}

.marquee-track img {
    margin-right: 40px;
}

 .marquee img {
    flex-shrink: 0;
    border-radius: 10px;
}

/* Animation */
@keyframes scroll {
    from {
        transform: translateX(0);
    }
    to {
        transform: translateX(-50%);
    }
}