.sd-container{
    display: flex;
    flex-direction: column;
    height: 100vh;
    width: 100vw;
}
.sd-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    box-sizing: border-box;
    padding: 20px;
    background-color: #efdac4;
    height: 100%;
}
.page-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 10px;
    box-sizing: border-box;
    border-bottom: 1px solid #ccc;
    background-color: #f0b06d;
}
.page-header img{
    cursor: pointer;
}
.page-header img:hover{
    text-decoration: underline;
}

.page-header h2{
    cursor: pointer;
}
.page-header h2:hover{
    text-decoration: underline;
}

.page-header p{
    cursor: pointer;
    margin-right: 10px;
}
.page-header p:hover{
    text-decoration: underline;
}

.page-header .left {
    flex: .5;
}

.page-header .right {
    flex: 2.50; 
    display: flex;
    justify-content: space-around; 
    align-items: center;
}

.right h2 {
    color: #282727;
}


.right p {
    color: #282727;
}

.content header h2 {
    color: #282727;
}

.sd-content h1 {
    text-align: center;
}